* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container{
    max-width: 900px;
    margin: auto;
}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: skyblue;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 4px 6px 8px rgba(1,1, 1, 0);
    border-radius: 20px;
}

.small{
    font-size: 25px;
}

.form_container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

input, select,  textarea{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: small;
}

input:focus{
    outline-color: aqua;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    background-color: rgb(255, 230, 0);
    border: transparent solid 2px;
    padding: 2px;
    border-radius: 10px;
    transition-duration: 0.3s ease-in;
}

button:hover{
    background-color: black;
    border: 2px solid yellow;
    color: white;
    transition-duration: 0.3s ease-out;
    cursor: pointer;
}

.textarea_control{
    grid-column: 1 / span 2;
}

.textarea_control textarea{
    width: 100%;
}

@media (max-width: 460px){
    .textarea_control{
        grid-column: 1 / span 1;
    }
};